* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

body {
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

.form {
  max-width: 600px;
  margin: 20px auto;
  background: #020617;
  padding: 25px;
  border-radius: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form input,
.form button {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.form input {
  background: #020617;
  border: 1px solid #1e293b;
  color: white;
}

.form button {
  grid-column: span 2;
  background: linear-gradient(135deg,#6366f1,#38bdf8);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
  gap: 30px;
  padding: 40px;
}

/* BOOK CARD */
.card {
  background: #020617;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.card p {
  font-size: 14px;
  color: #94a3b8;
}

.card .price {
  font-weight: bold;
  color: #38bdf8;
}

/* ACTIONS */
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.actions a,
.actions button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}
