<!DOCTYPE html>
<html>

<head>
  <title>Todo App</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <div class="container">
    <h1>Todo App</h1>

    <form action="/add" method="POST">
      <input type="text" name="task" placeholder="Write your task" required>
      <textarea name="description" placeholder="Write description"></textarea>
      <button>Add</button>
    </form>

    <ul>
      <% todoList.forEach((oneTodo, index) => { %>
        <li>

          <div class="todo-content">
            <strong><%= oneTodo.text %></strong>

            <% if (oneTodo.description) { %>
              <p><%= oneTodo.description %></p>
            <% } %>
          </div>

          <div class="actions">
            <a href="/edit/<%= index %>" class="edit">Edit</a>

            <form action="/delete" method="POST">
              <input type="hidden" name="index" value="<%= index %>">
              <button class="delete">X</button>
            </form>
          </div>

        </li>
      <% }) %>
    </ul>
  </div>

</body>
</html>

