<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../assests/css/style.css">
  <title>CRUD APPLICATION</title>
</head>
<body>
  <!--HEader-->
    <header id="header">
      <nav>
        <div class="container"> 
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">User Mangement System</a>
          </div>
        </div>
      </nav>
    </header>
  <!--HEader-->

    <!--Main Site-->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex justify-between">
          <a href="/add-user" class="border-shadow">
            <span class="text-gradient">New User <i class="fa-solid fa-user"></i></span>
          </a>
          <div>
            <form action="/" method="POST">
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>@Email</th>
                  <th>Gender</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>UserName</td>
                  <td>example@gmail.com</td>
                  <td>Male</td>
                  <td>Active</td>
                  <td>
                    <a href="#" class="btn border-shadow update">
                      <span class="text-gradient"><i class="fa-solid fa-pen-to-square"></i></span>
                    </a>
                     <a href="#" class="btn border-shadow delete">
                      <span class="text-gradient"><i class="fa-regular fa-trash-can"></i></span>
                    </a>
                  </td>
                </tr>
              </tbody>
              </table>

            </form>
          </div>
        </div>
      </div>
    </main>
    <!--Main site-->
  </body>
</html>